In [7]:
#setup
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
from splinter import Browser

import time

In [9]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [10]:
url1 = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

response = requests.get(url1)

In [11]:
soup1 = bs(response.text, "html5lib")
type(soup1)

bs4.BeautifulSoup

In [12]:
### NASA Mars News

#* Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) and collect the latest News Title and Paragraph Text. 
#Assign the text to variables that you can reference later.

#```python
# Example:
#news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

#news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next 
#May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West
#Coast."
news_title = soup1.find_all('div', class_='content_title')[0].find('a').text.strip()
print(news_title)

news_p = soup1.find_all('div', class_='rollover_description_inner')[0].text.strip()

print(news_p)

NASA's Opportunity Rover Mission on Mars Comes to End
NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.

In [13]:
### JPL Mars Space Images - Featured Image
#* Visit the url for JPL Featured Space Image [here](https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars).
#* Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to
#a variable called `featured_image_url`.
#* Make sure to find the image url to the full size `.jpg` image.
#* Make sure to save a complete url string for this image.
#python
# Example:
#featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'

In [14]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [15]:
html = browser.html
soup2 = bs(html, "html5lib")

In [16]:
partial_address = soup2.find_all('a', class_='fancybox')[0].get('data-fancybox-href').strip()

In [17]:
featured_image_url = "https://www.jpl.nasa.gov"+partial_address
print(featured_image_url)



browser.visit(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19404_ip.jpg

In [18]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url3 = 'https://twitter.com/marswxreport?lang=en'

In [19]:
browser.visit(url3)
html = browser.html
soup3 = bs(html, "html5lib")

In [20]:
mars_weather = soup3.find_all('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')[0].text
print(mars_weather)

InSight sol 102 (2019-03-11) low -96.8ºC (-142.2ºF) high -17.0ºC (1.4ºF)
winds from the SW at 4.8 m/s (10.7 mph) gusting to 12.7 m/s (28.4 mph)
pressure at 7.30 hPapic.twitter.com/gofkoHwwzQ

In [27]:
url4 = 'https://space-facts.com/mars/'

In [28]:
tables = pd.read_html(url4)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [29]:
#convert and update name
df = tables[0]
df.columns=['description','value']
df

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [31]:
#save
df.to_html('table.html')

In [32]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url5)
html = browser.html
soup5 = bs(html,"html5lib")

In [33]:
hemisphere_image_urls = []

In [34]:
dict = {}

In [35]:
results = soup5.find_all('h3')

In [37]:
#loop
for result in results:
    itema = result.text
    time.sleep(2)    
    browser.click_link_by_partial_text(itema)
    time.sleep(1)
    htmla = browser.html
    soupa = bs(htmla,"html5lib")
    time.sleep(1)
    linka = soupa.find_all('div', class_="downloads")[0].find_all('a')[0].get("href")
    time.sleep(1)
    dict["title"]=itema
    dict["img_url"]=linka
    hemisphere_image_urls.append(dict)
    dict = {}
    browser.click_link_by_partial_text('Back')
    time.sleep(2)
    
#print

In [38]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'},
 {'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]